/build
/docs/build/
*.pyc
/tools/import-generator/src/blox/common/Common.pb.cc
/tools/import-generator/src/blox/compiler/BloxCompiler.pb.cc
/tools/import-generator/include/blox/common/Common.pb.h
/tools/import-generator/include/blox/compiler/BloxCompiler.pb.h
/src/logic/**/deps.mk
/examples/build/
/examples/db/
/tools/fact-generator/GPATH
/tools/fact-generator/GRTAGS
/tools/fact-generator/GTAGS
/tools/json-ast-exporter/GPATH
/tools/json-ast-exporter/GRTAGS
/tools/json-ast-exporter/GTAGS
/bin/fact-generator
/bin/import-generator
/bin/json-ast-exporter
/lib/factgen.so
/lib/astexport.so
/venv/
