/build/*
/bin/*
data
/logic/import/import-predicates.logic
/logic/import/import-entities.logic
/import-generator/src/blox/common/Common.pb.cc
/import-generator/src/blox/compiler/BloxCompiler.pb.cc
/import-generator/include/blox/common/Common.pb.h
/import-generator/include/blox/compiler/BloxCompiler.pb.h
